/*  (-CSS reset- Credit: Josh Comeau ) */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/*  CSS Reset End */

:root {
  --primary-clr: hsl(0, 0%, 8%);
  --secondary-clr: hsl(0, 0%, 41%);
  --bg-clr: hsl(0, 0%, 98%);

  --ff-base: "Epilogue", sans-serif;
  --fw-medium: 500;
  --fw-bold: 700;
}

body {
  font-family: var(--ff-base);
  font-size: 1.125rem;
  background-color: var(--bg-clr);
  overflow: hidden;
}

#mobile-navbar-container {
  display: none;
}

/* Navigation Bar */

#nav-bar {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-inline: 40px;
  margin-block: 25px;
}

#nav-bar a {
  text-decoration: none;
  color: var(--secondary-clr);
  font-size: 0.875rem;
  transition: 0.4s;
}

#nav-bar a:hover {
  color: var(--primary-clr);
}

/* Features Dropdown Menu */

.dropbtn {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--secondary-clr);
  border: none;
  cursor: pointer;
  transition: 0.4s;
  background-color: transparent;
  font-size: 0.875rem;
}

.arrow-up {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 155px;
  border-radius: 6px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 7px;
}

.dropdown-content-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-bottom: 8px;
}

.dropdown-icons {
  width: 14px;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: var(--primary-clr);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: var(--primary-clr);
}

/* Company Dropdown Menu */

.dropdown-content.company {
  min-width: 120px;
}

span {
  margin-left: auto;
}

#register-btn {
  color: var(--primary-clr);
  border: 1px solid var(--secondary-clr);
  padding: 10px;
  transition: 0.4s;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 40px;
}

#register-btn:hover {
  border-color: var(--primary-clr);
}

/* Main Container */

#main-container {
  display: flex;
}

/* Primary Content */

#primary-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding-left: 160px;
}

#title {
  font-size: 4.875rem;
  line-height: 4.6875rem;
}

#description {
  color: var(--secondary-clr);
  font-weight: var(--fw-medium);
  font-size: 1rem;
}

#learn-more-btn {
  width: 10.1875rem;
  padding: 0.9063rem 0;
  border-radius: 0.9375rem;
  border: 1px solid var(--primary-clr);
  background-color: var(--primary-clr);
  color: white;
  cursor: pointer;
  transition: 0.4s ease-out;
}

#learn-more-btn:hover {
  background-color: var(--bg-clr);
  color: var(--primary-clr);
  border: 1px solid var(--primary-clr);
}

#clients {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* Secondary Content */

#secondary-content {
  width: 50%;
  height: 90vh;
  background-image: url(images/image-hero-desktop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30rem;
  margin-right: 1.875rem;
}

@media (max-width: 600px) {
  body {
    overflow: scroll;
  }

  #nav-bar {
    display: none;
  }
  /*  */
  #mobile-navbar-container {
    display: block;
    position: relative;
  }

  #mobile-navbar {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px;
  }

  #mobile-navbar-lines {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
  }

  .hbm-line {
    width: 30px;
    height: 3px;
    background-color: black;
    border-radius: 4px;
  }

  #hbm-wrapper {
    display: none;
  }

  #hbm-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-inline: 20px;

    background-color: white;
    height: 100vh;
    width: 50%;
    position: absolute;
    top: -20px;
    left: 50%;
  }

  #close-hbm-wrapper {
    height: 5%;
    width: 100%;
  }

  .close-hbm-wrapper-line {
    position: absolute;
    right: 6%;
    top: 2%;
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
  }

  .close-hbm-wrapper-line:before,
  .close-hbm-wrapper-line:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 28px;
    width: 2px;
    background-color: #333;
  }
  .close-hbm-wrapper-line:before {
    transform: rotate(45deg);
  }
  .close-hbm-wrapper-line:after {
    transform: rotate(-45deg);
  }

  /* 
  #close-hbm-wrapper-line {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  #close-hbm-wrapper-line:hover {
    opacity: 1;
  }
  #close-hbm-wrapper-line:before,
  #close-hbm-wrapper-line:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  #close-hbm-wrapper-line:before {
    transform: rotate(45deg);
  }
  #close-hbm-wrapper-line:after {
    transform: rotate(-45deg);
  } */

  #hbm-container a {
    text-decoration: none;
    color: var(--secondary-clr);
    font-size: 0.875rem;
    transition: 0.4s;
  }

  #hbm-container a:hover {
    color: var(--primary-clr);
  }

  /* Features Dropdown Menu */

  .dropbtn {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--secondary-clr);
    border: none;
    cursor: pointer;
    transition: 0.4s;
    background-color: transparent;
    font-size: 0.875rem;
    padding: 0;
  }

  .arrow-up {
    display: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 155px;
    border-radius: 6px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 7px;
  }

  .dropdown-content-flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-bottom: 8px;
  }

  .dropdown-icons {
    width: 14px;
  }

  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    color: var(--primary-clr);
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    color: var(--primary-clr);
  }

  /* Company Dropdown Menu */

  .dropdown-content.company {
    min-width: 120px;
  }

  span {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
  }

  #register-btn {
    color: var(--primary-clr);
    border: 1px solid var(--secondary-clr);
    padding: 5px 10px;
    transition: 0.4s;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 0;
    text-align: center;
    width: 100%;
  }

  #register-btn:hover {
    border-color: var(--primary-clr);
  }

  /*  */
  #main-container {
    flex-direction: column-reverse;
  }

  #secondary-content {
    width: 100%;
    height: 50vh;
    background-image: url(images/image-hero-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0;
  }

  #primary-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0;
    padding-inline: 10px;
  }

  #title {
    font-size: 35px;
  }

  #description {
    margin-bottom: 20px;
  }

  #learn-more-btn {
    margin-bottom: 50px;
  }

  #clients {
    margin-bottom: 20px;
  }

  br {
    display: none;
  }
}
